# Default ignored files
/shelf/
/workspace.xml

# IDE
.idea/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Capacitor
android/
ios/
www/

# Build
dist/
.cache/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db